node_modules/
dist/
coverage/
*.tsbuildinfo
.readme-backup
.readme-npm-backup
backup/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# AI agents
.claude
CLAUDE.md
AGENT.md
